@import './variables.scss';

@mixin BasicBorderRadius {  
    border-radius: 8px;
}
@mixin BasicMargin {
    margin: 0.2rem 15px;
}
@mixin BasicPadding {
    padding: 0.5rem;
}
@mixin Input {
    font-size: 18px;
    font-weight: 300;
    border-radius: 8px;
    height: 36px;
    background-color: $inputBackgroundColor;
    color: $inputTextColor;
    width: 60vw;
    padding-left: 16px;
    outline: none;
 
 
  }
 
  @mixin Wrapper {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
  
  @mixin ButtonTask {
    margin-left: 1em;
    padding: 0.5em 1em;
    font-size: 16px;
    color: $textButtonColor;
    background-color: $majorToDoColor;
    border: none;
  }
  @mixin ButtonList {
    min-width: fit-content;
    font-size: 24px;
    @include BasicPadding;
    margin-top: 2rem;
    border: none;
    
  }