
$inputTextColor: #454545;
$inputBackgroundColor: #ffffff;

$majorToDoColor:#78c7df;

$doneButtonColor: #00ff0a;
$deleteTaskButtonColor: rgb(255, 61, 0);

$saveButtonColor: #a2bda8;
$cancelButtonColor: #bdaea2;

$textButtonColor: #000000;
$textBasicColor: white;

$PortalBackgroundColor: #2d2d2d;

$bottomBackgroundColor: #1a1a1a;
$frontBackgroundColor: #2d2d2d;