@import './../../../utilities/mixins.scss';
.input {
    
    @include Input;
    font-size: 1.5rem;
    margin-bottom: 2rem; 
   
}
.button {
    @include ButtonList;
    @include BasicBorderRadius;
   
}

.wrapper {
    margin: 45px 30px;
}