@import './../../../utilities/mixins.scss';
@import './../../../utilities/variables.scss';

.wrapper{
   color: white;
   background-color: rgb(19, 19, 20);
   min-height: 1.5rem;
   list-style-type: none;
   @include BasicBorderRadius;

   margin: 10px 15px;
   color: lighten($majorToDoColor, $amount: 25);
   padding: 1.5rem 0.7rem  1.5rem  1.5rem ;


}
.item {
   display: flex;
   justify-content: space-between;
}

.wrapper details {
   max-width: fit-content;
   
}
.wrapper summary, p {
   font-size: 0.9rem;
   font-weight: 300;
   font-style: italic;
  

}
.wrapper summary {
   cursor: pointer;
}

.title {
   text-transform: uppercase;
   font-size: 1.2rem;
   display: inline-block;
   margin-bottom: 0.5rem
}

.open {
 @include ButtonTask;
 height: fit-content;
 @include BasicBorderRadius;


}