@import './../../../utilities/mixins.scss';
@import './../../../utilities/variables.scss';

.wrapper{
   color: white;
   background-color: black;
   min-height: 1.5rem;
   list-style-type: none;
   @include BasicBorderRadius;
   @include BasicPadding;
   margin: 10px 15px
  


}

.wrapper details {
   max-width: fit-content;
}
.wrapper summary, p {
   font-size: 0.9rem;
   font-weight: 300;
}

.title {
   text-transform: uppercase;
   font-size: 1.2rem;
   display: inline-block;
}

.open {
 
}