@import './../../utilities/variables.scss';
@import './../../utilities/mixins.scss';

.content {
   margin: 30px 15px;
   &Deactive {
    overflow: hidden;
    filter: blur(10px);
    background-color: black;
/*     max-height: 70vh;
    overflow: auto; */
}
}

.header {
    width: fit-content;
    margin: auto;
    color: $textBasicColor;
    padding: 20px 30px;
  /*   background-color: $majorToDoColor;; */
    border-radius: 5%;
    box-shadow: inset 0px 0px 14px 8px $majorToDoColor;
    margin-bottom: 15px;
}

.button {
    @include ButtonList;
    @extend .header;
    background: none;
    font-size: 1.2rem;
    padding: 0.7em;
    position: relative;
    width: 150px;
    left: 100%;
    transform: translateX(-125%);
    /* position: absolute;  */
    /* bottom: 15px; */
}

