@import './utilities/variables.scss';
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&family=ZCOOL+KuaiLe&display=swap");

*,
*:before,
*:after {
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  background-color: $frontBackgroundColor;
  
}
